* { box-sizing: border-box; margin: 0; padding: 0; }
body { background: #212121;}

.card {
    width: 35px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}
