{% extends 'base.html.twig' %}

{% block title %}My Uno{% endblock %}

{% block body %}

<div class = "home">

    <div class = "home-card">

        <div class = "wrapper">
            <img class="image" src="{{ asset('images/uno.jpg') }}" alt="Uno">
        </div>

        <div class = "info">

            <h3>Jouez au inégalable</h3>
            <h1>UNO</h1>

            <p>Lancez une partie dès maintenant !</p>
            <a href ="{{ path('app_start') }}">
                <div class = "btn">Je commence !</div>
            </a>

        </div>

    </div>

</div>

{% endblock %}