<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MyUno !{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
